@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 font-weight-bold">Welcome to Our Website</h1>
    <p>scale up your bussiness with us</p>
    <button type="button" class="btn btn-outline-dark">About us</button>
</div>
